html, body {
    position: relative;
    height: 100%;
}
body{
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide{
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.page1{
    background: rgb(77,175,175);
}
.page1down{
    width: 68.6%;
    position: absolute;
    top: 5%;
}
.page1left{
    height: 44.7%;
    position: absolute;
    left: 10%;
    top: 40%;
}
.page1right{
    height: 80.4%;
    position: absolute;
    right: 3%;
    top: 17%;
}
.page1up{
    width: 50.97%;
    position: absolute;
    bottom: 1%;
    left: 10%;
}
.page2{
    background: rgb(77,175,175);
    background-size: 100% 100%;
}
.title{
    position: absolute;
    top: 2%;
    width: 40%;
    left: 30%;
}
.img2016{
    position: absolute;
    top: 20%;
    height: 35%;
    width: 12.5%;
    left: 44%;
}
.summer{
    position: absolute;
    top: 56%;
    height: 35%;
    width: 12.5%;
    left: 44%;
}
.page3{
    background: rgb(77,175,175);
}
.daily{
    position: absolute;
    top: 2%;
    width: 40%;
    left: 5%;
}
.page3top{
    position: absolute;
    top: 2%;
    width: 50%;
    right: 2%;
}
.week{
    position: absolute;
    width: 30%;
    height: 4.5%;
    left: 7.78%;
    top: 16.17%;
    border: #ffffff solid 3px;
    border-radius: 2rem;
    text-align: center;
}
.week p{
    font-size: 2.5rem;
    color: #ffffff;
    line-height: 5rem;
}
.test{
    width: 94.44%;
    height: 50%;
    top: 32%;
    position: absolute;
    left: 4%
}
.description{
    color: #000000;
    width: 92.5%;
    font-size: 1.875rem;
    position: absolute;
    bottom: 4%;
    text-indent: 2rem;
    text-align: left;
    left: 4%;
}
.page2>div{
    width: 38%;
    height: 16.7%;
    border: #ffffff solid 10px;
    position: absolute;
}
.box1{
    top: 12%;
    left: 10%;
    background: url(../../images/1468918556857_8e7a2484-a466-408c-9909-f52d7d6ef9b.jpg);
    background-size: 100% 100%;
}
.box2{
    top: 18%;
    right: 8%;
    transform: rotate(30deg);
    background: url(../../images/IMG_20160719_181043.jpg);
    background-size: 100% 100%;
}
.box3{
    top: 40%;
    left: 5%;
    transform: rotate(-25deg);
    background: url(../../images/IMG20160713084424.jpg);
    background-size: 100% 100%;
}
.box4{
    top: 46%;
    right: 6%;
    transform: rotate(5deg);
    background: url(../../images/IMG20160714115935.jpg);
    background-size: 100% 100%;
}
.box5{
    top: 70%;
    left: 6%;
    transform: rotate(7deg);
    background: url(../../images/IMG20160731105339.jpg);
    background-size: 100% 100%;
}
.box6{
    top: 75%;
    right: 6%;
    transform: rotate(-18deg);
    background: url(../../images/IMG_20160721_140057.jpg);
    background-size: 100% 100%;
}
.page2left{
    position: absolute;
    left: 2%;
    top: 2%;
}
.page2right{
    position: absolute;
    right: 2%;
    top: 2%;
}
.page2up{
    position: absolute;
    right: 0.5%;
    bottom: 2%;
}